.week-container {
  width: 100vw;
  height: 200vh;    
  display: flex;
  flex-direction: column;
}

.week-container .week-header h1 {
  color: white;
  font-size: 5em;
  text-align: center;
  mix-blend-mode: difference;
}

.week-body {
  display: flex;
}

.day-container {
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 10vh 0 0 0;
}

.day-container div {
  width: 12.5vw;
  height: 25vh;
  border-radius: 10px;
}

.day-container div h1, .day-container div p {
  color: white;
  text-align: start;
  mix-blend-mode: difference;
  padding: 0 0 0 0.25vw;
}

.day-container .dropdown {
  margin: 1vh 0 0 0;
}

.day-container .dropdown h3 {
  color: white;
  text-align: start;
  mix-blend-mode: difference;
  padding: 0 0 0 0.5vw;
}

.day-container .dropdown form input {
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  margin: 0 0 0 0.5vw;
}

.day-container .item {
  width: 12.5vw;
  height: 6.25vh;
  border-radius: 10px;
  margin: 1vh 0 0 0;
}

.day-container .item p {
  text-align: center;
}

.dropdownOff {
  display: none;
}